* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blueviolet;
    text-align: center;
}

.container {
    height: 500px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 450px; 
    width: 450px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.box {
    height: 130px;  
    width: 130px;   
    border-radius: 16px; 
    border: none;
    font-size: 60px;  
    color: #b0413e;
    background-color: aliceblue;
    text-align: center;
}

#reset-btn, #new-btn {
    padding: 16px; 
    font-size: 20px; 
    border-radius: 16px; 
    font-weight: bold;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

#msg {
    color: white;
    font-size: 40px; 
}

.msg-container {
    height: 750px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px; 
}

.hide {
    display: none;
}
